<main class="container">
  <section class="card form-card">
    <h2 class="title">Cadastro de médico</h2>
    <form action="">
      <div class="form-group">
        <label for="nome">
          Nome:
        </label>
        <input id="nome" required type="text">
      </div>
      <div class="form-group">
        <label for="email">
          email:
        </label>
        <input id="email" required type="text">
      </div>
      <div class="form-group">
        <label for="telefone">
          telefone:
        </label>
        <input id="telefone" required type="text">
      </div>
      <div class="form-group">
        <label for="nome">
          Nome:
        </label>
        <input id="nome" required type="text">
      </div>
    </form>
  </section>
</main>
