<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">
        Consulta.Me
      </h1>
      <h2 class="hero-title-2">
        Encontre profissionais de <span>diversas especialidades</span>
      </h2>
      <p class="hero-subtitle">
        e agende sua consulta com facilidade.
      </p>
    </div>
    <div class="hero-image">
      <img src="/" alt="enfermeiro com mascara">
      <img src="/" alt="enfermeira com estetoscopio">
    </div>
  </div>
</section>
